*{
margin: 0;
padding: 0;
}


h1{
    color: black
}

.sfx {
  position: absolute;


}
.sfx-bar{
    display: flex;
    flex: 8;
    flex-direction: column;
}

.tracker{
    display: flex;
    flex-direction: row;
}

.seqs{
    display: none;
    position: absolute;
    width: 50px;
    height: 428px;
    background-color: skyblue;
    z-index: 1;
    opacity: 0.6;
}

.show{
    display: block;
}

}
.snare{
    margin-top: 7px;
}

.bpm{
    width: 100px;
    height: 25px;

}


input:checked:before {
  filter: blur(10px);
  opacity: 1;

}
input:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background-size: 400%;
  transition: 0.5s;
}
input {
  height: 50px;
  width: 50px;
  transform: translate(0%, 0%);
  background-size: 400%;
  cursor: pointer;
  margin-right: 5px;
}

.controls{
    margin: 20px 0px
}
